---
title: Schedule
layout: default
---

<h1 class="text-center">Current Schedule</h1>

<p> The below table itemises the upcoming schedule for rehearsals and concerts, with the programmes and notes as available</p>

<table class="table">
  <thead><tr><th>Title</th><th>Date</th><th>Location</th></tr></thead>
  <tbody>
    {% for item in site.schedule %}
    {% if item.title != "Schedule" %}
    <tr><td><a href="{{item.url}}">{{item.title}}</a></td><td>{{item.date | date_to_string}} - {{item.time}}</td><td>{{item.location}}</td></tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
